
html, body {
	/*width: 980px;*/
	width: 100%;
	margin: 0 auto;
	/*background: url(../images/home-tile.png) repeat;*/
	background: #404040;
}

.wrapInvite{
	position: absolute;
	width: 100%;
	
	margin: 0 auto;

}

.invite{
	margin: 20px auto;
	width: 800px;
	position: relative;
}
.invite-picture{
	
	transition: background-image 0.5s ease;
    -webkit-transition: background-image 500ms ease;
    -moz-transition: background-image 500ms ease;
    -o-transition: background-image 500ms ease;
    transition: background-image 500ms ease;


    width: 425px;
	height: 800px;
	margin: 0 auto;
	display: block;
	background: url('../img/invitefinal.jpg') no-repeat;
	background-size: 100% 100%;

}
.invite-picture:hover{

	background: url('../img/invitefinal1.jpg') no-repeat;
	background-size: 100% 100%;
}
.invite-picture:hover .rsvp-button-wrap{

    display: block;


}

.rsvp-form{

	width: 100%;
}

.rsvp-form:before, .rsvp-form:after{
	content: " ";
	display: table;
}

.rsvp-form:after{

	clear:both;
}

.rsvp-column{

	width:100%;
	float: right;

}
.rsvp-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}
.rsvp-form input,
.rsvp-form textarea,
.rsvp-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: .75em;
    padding: 6px 12px;
    color: #fff;
    display: block;
    width: 100%;
    background: transparent;
}
 
.rsvp-form input,
.rsvp-form textarea {
    border: 1px solid #fff;
    border-radius: 3px;
}
 
.rsvp-form textarea {
    min-height: 200px;
}
 
.rsvp-form input:focus,
.rsvp-form textarea:focus,
.rsvp-form label:active + input,
.rsvp-form label:active + textarea {
    outline: none;
    border: 1px solid transparent;
    background: rgba(102,70,90, .5);

}
 
.rsvp-form select:focus {
    outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
    font-style: italic;
}
 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    font-style: italic;
}
 
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    font-style: italic;
}
 
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
    font-style: italic;
}
 
.rsvp-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}
 
.rsvp-form input.rsvp-submit {
    background: #553A4B;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.1em;
    border-radius: 3px;
    letter-spacing: 1px;
}
 
.rsvp-form input.rsvp-submit:hover {
    background: #66465A;
}
.rsvp-button-wrap button {
    background: none;
    /*border: 1px solid #fff;*/
    color: #fff;
    
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    font-size: .7em;
    border-radius: 3px;
    letter-spacing: .1em;
    width: 100%;

}

.rsvp-button-wrap button:focus {outline:0;}

.rsvp-button-wrap{
    text-align: center;
    clear: both;
    display: none;
    position: absolute;
    /*top:74%;
    left: 40%*/
    width: inherit;
    background:#553A4B;
    bottom: 0;

}

 
@media screen and (max-width: 1120px) {
    .rsvp-column {
        width: 50%;
    }
    .rsvp-column:nth-child(3) {
        width: 100%;
    }
}
 
@media screen and (max-width: 768px) {
    .rsvp-column {
        width: 100%;
        padding: 10px;
    }

}
.invite-form{

    position: relative;
    min-width: 20%;
    float: right;
    margin-right: 10%;
    min-height: 100%;
    padding-top: 8%;
    z-index: 9999;
}



 


